<h1>Posts</h1>

<table class="table table-bordered table-striped table-responsive">
	<tr>
		<th>Author</th>
		<th>Title</th>
		<th>Timestamp</th>
		<th>Blog Post</th>
		<th># </th>
		<th>Link</th>
	</tr>
	<% @all_posts.each do |post| %>
	<tr>
		<td><%= post.author %></td>
		<td><%= post.title %></td>
		<td><%= post.created_at %></td>
		<td><%=post.description%></td>
		<td><%=post.comments.length%></td>
		<td><a href="/posts/<%=post.id%>">Show</a></td>
	</tr>
	<% end %>
</table>

<br>
<p><a href="/posts/new">New Post</a></p>
<p><a href="/tags">Browse tags</a></p>
