<h1><%= @post.title %></h1>

<p>Author: <%= @post.author %></p>

<% if @tags.length > 0 %>
<p>Tags:
<% @tags.each do |tag| %>
<a href="/tag/<%=tag.id%>"><%=tag.name%></a>
<% end %>
</p>
<% end %>

<p><%= @post.description %></p>
